<p>Last update: {{ lastUpdate }}</p>

<p>Add NuGet Source</p>
<pre>dotnet nuget add source https://nuget.zarlo.dev/index.json --name "zarlo"</pre>

<p>or as nuget.config</p>
<pre>
&lt;packageSources&gt;
    &lt;add key=&quot;Zarlo&quot; value=&quot;https://nuget.zarlo.dev/index.json&quot; protocolVersion=&quot;3&quot; /&gt;
&lt;/packageSources&gt;
</pre>

<h1>CosmosManager</h1>

<pre>dotnet tool update --global CosmosManager --prerelease --no-cache</pre>

<p>to set up a project to use Cosmos CosmosManager run</p> 
<pre>cosmos-manager init</pre>

<p>if you want to add a make file add -m</p>
<p>if you are makeing a new project -p will set up all the c# projects for you</p>


<p>then to install cosmos run</p>
<pre>cosmos-manager install</pre>
<p>this will install cosmos in ./CosmosManager/Bin</p>

<h1>packages</h1>
{% for package in packages %}
<p><span>{{ package }}

</span></p>
{% endfor %}
